<df-body>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5></h5>
                </div>
                <div class="ibox-content">
                    <form method="post"
                        action='{:split_url(str("admin/column/%s_update",[areas\admin\model\ArticleModel::getName()]))}'>
                        <input name="id" value="{:$output[0]??'0'}" hidden />

                        <div class="form-horizontal m-t">
                            <div class="form-group">
                                <label class="col-sm-1 control-label">标题：</label>
                                <div class="col-sm-5">
                                    <input class="form-control" name="data[title]" size="10" type="text"
                                        value="{:$output['title']??''}" />
                                </div>
                            </div>



                            <div class="form-group">
                                <label class="col-sm-1 control-label">菜单名：</label>
                                <div class="col-sm-5">
                                    <input class="form-control" name="data[menu]" size="10" type="text"
                                        value="{:$output['menu']??''}" />
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-1 control-label">描述：</label>
                                <div class="col-sm-5">
                                    <input class="form-control" name="data[describe]" size="10" type="text"
                                        value="{:$output['describe']??''}" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-1 control-label">文件上传：</label>
                                <div class="col-sm-4">
                                    <div class="upload">
                                        <div id="uploadPreview1">
                                        </div>
                                        <div class="left">
                                            <div class="uploadProgressBar"></div>
                                            <div id="uploadButton1">选择文件</div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-1 control-label">内容：</label>
                                <div class="col-sm-11">
                                    <!--script标签之间不能有换行和空格，否则新建的时候文本框会自动添加换行和空格-->
                                    <script type="text/plain" id="container" name="data[content]">
                                        {:$output['content']??''}</script>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-2 col-sm-offset-1">
                                    <button class="btn btn-primary" onclick="return submit_form()">保存</button>
                                    <a href='{:split_url(str("admin/column/%s",[areas\admin\model\ArticleModel::getName()]))}'
                                        class="btn btn-sm btn-white"> 返 回 </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</df-body>

<df-footer>

    <script type="text/javascript">
        function submit_form() {
            if ($.formVerifyEmpty('data[title]', '请输入标题')) {
                return false;
            }
            if ($.formVerifyEmpty('data[content]', '请输入内容')) {
                return false;
            }
            return true;
        }
    </script>

    <!-- ********************** umeditor START ********************** -->
    <link type="text/css" rel="stylesheet"
        href="https://oss.dfer.site/umeditor/1.2.2/themes/default/css/umeditor.min.css">
    <script type="text/javascript" src='{:VIEW_ASSETS}/umeditor/1.2.2/umeditor.config.js'></script>
    <script type="text/javascript" src="https://oss.dfer.site/umeditor/1.2.2/umeditor.js"></script>
    <script type="text/javascript" src="https://oss.dfer.site/umeditor/1.2.2/lang/zh-cn/zh-cn.js"></script>

    <script type="text/javascript">
        var um = UM.getEditor('container');
    </script>
    <!-- **********************  umeditor END  ********************** -->

    <!-- ********************** webuploader START ********************** -->
    <link rel="stylesheet" href="https://oss.dfer.site/webuploader/0.1.5/webuploader.css" type="text/css" />
    <script type="text/javascript" src="https://oss.dfer.site/webuploader/0.1.5/webuploader.min.js"></script>
    <script>
        $(() => {
            upload("#uploadButton1", "#uploadPreview1", "#src", "/admin/column/test_up");
        })
    </script>
    <!-- **********************  webuploader END  ********************** -->

</df-footer>
