<df-header>
    

<style>
	table td {
		border-bottom: 1px dashed rgba(0, 0, 0, .1);
		padding: 1rem;
	}
	
	table {
		width: 100%
	}
	
	img {
		width: 30%
	}
</style>
</df-header>


<df-body>
    

   <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5></h5>
                </div>
                <div class="ibox-content">

                    <div class="form-horizontal m-t">
                        <table>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <div class="col-sm-5">
                                           !!$output['title']!!
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <div class="col-sm-11">
                                           !!$output['content']!!
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <div class="form-group">
                            <div class="col-sm-2 col-sm-offset-1">
                                <a href='!!splitUrl(str("admin/column/{0}",[self::$db_n]))!!' class="btn btn-sm btn-white"> 返 回 </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
 </df-body>

