/*
    自定义网站的字体，将字体文件放到网站根目录即可
    By Df

    http://font.chinaz.com/
*/

body {
}
/*自定义字体*/
@font-face {
    font-family: ft; /*这里是说明调用来的字体名字*/
    src: url('font.ttf') format('truetype'); /*这里是字体文件路径*/ 
}

/*图标*/
@font-face {
    font-family: dfer; /*这里是说明调用来的字体名字*/
    src: url('dfer.ttf') format('truetype'); /*这里是字体文件路径*/ 
}

 

df {
    font-family: ft !important; /*这里设置某参数的字体值，在这里调用了你刚才声明的字体值"fz"*/
}
