<df-body>


	<div class="row">
		<div class="col-sm-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5></h5>
				</div>
				<div class="ibox-content">
					<form method="post" action='!!splitUrl(sprintf("admin/home/%s_update",self::$db_htm))!!'>
						<input name="id" value="!!isset($output[0])?$output[0]:'0'!!" hidden />


						<div class="form-horizontal m-t">
							<div class="form-group">
								<label class="col-sm-1 control-label">htm文件名：</label>
								<div class="col-sm-5">
									<input class="form-control" name="data[fileN]" size="10" type="text"
										value="!!isset($output[0])?$output['fileN']:''!!" />
									<span class="field-validation-error" veri-for=""></span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-1 control-label">路径：</label>
								<div class="col-sm-5">
									<input class="form-control" name="data[src]" size="10" type="text"
										value="!!isset($output[0])?$output['src']:''!!" />
									<span class="field-validation-error" veri-for=""></span>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-1 control-label">备注：</label>
								<div class="col-sm-5">
									<input class="form-control" name="data[comment]" size="10" type="text"
										value="!!isset($output[0])?$output['comment']:''!!" />
									<span class="field-validation-error" veri-for=""></span>
								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-2 col-sm-offset-1">
									<button class="btn btn-primary" onclick="return submit_form()">保存</button>
									<a href='!!splitUrl("admin/home/".self::$db_htm)!!' class="btn btn-sm btn-white"> 返
										回 </a>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>


</df-body>



<df-footer>




	<script type="text/javascript">
		//验证输入
		function verify() {

			return true;
		}

		function submit_form() {

			return verify();
		}
	</script>


</df-footer>