<df-body>

	<div class="row">
		<div class="col-sm-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>{:$common->setVal(showFirst('menu',str_replace(',','',$parent))['title'],"")!!>>>!!$output[0]}
					</h5>
				</div>
				<div class="ibox-content">
					<form method="post" action='{:split_url(sprintf("admin/home/%s_update",table_name("MenuModel")))}'>
						<input name="id" value="{:$output[0]}" hidden />
						<input name="data[parent]" value="{:$common->setVal($output['parent'],$parent_id)}" hidden />
						<input name="parent" value="{:$common->setVal($parent,0)}" hidden />

						<div class="form-horizontal m-t">
							<div class="form-group">
								<label class="col-sm-1 control-label">标题：</label>
								<div class="col-sm-5">
									<input class="form-control" name="data[title]" size="10" type="text"
										value="{:$output['title']}" />
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-1 control-label">路径：</label>
								<div class="col-sm-5">
									<input class="form-control" name="data[src]" size="10" type="text"
										value="{:$output['src']}" />
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-1 control-label">排序编号：</label>
								<div class="col-sm-5">
									<input class="form-control" name="data[order_num]" size="10" type="text"
										value="{:$output['order_num']}" />
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-1 control-label">类型：</label>
								<div class="col-sm-8">
									<select class="site-select-tem" name="data[type]">
										<df-each $type>
											<option value="{::value}" {:$v==$output["type"]? "selected" : "" }>{::key}
											</option>
										</df-each>
									</select>
								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-2 col-sm-offset-1">
									<button class="btn btn-primary" onclick="return submit_form()">保存</button>
									<a href="javascript:history.back()" class="btn btn-sm btn-white"> 返 回 </a>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

</df-body>

<df-footer>

	<script type="text/javascript">

		function submit_form() {
			if ($.formVerifyEmpty('data[title]','请输入标题')) {
				return false;
			}
			return true;
		}
	</script>

</df-footer>
