<df-body>
	<div class="row">
		<div class="col-sm-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5></h5>
				</div>
				<div class="ibox-content">
					<form method="post" action='{:split_url("update_set_pwd")}'>
						<input name="data[id]" id="pic" value="{:$output[0]??'0'}" hidden />
						<div class="form-horizontal m-t">
							<div class="form-group">
								<label class="col-sm-1 control-label">账号：</label>
								<div class="col-sm-2">
									<input class="form-control" name="data[nm]" size="10" type="text"
										value="{:$output['nm']??''}" readonly />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-1 control-label">原密码：</label>
								<div class="col-sm-2">
									<input class="form-control" name="data[pw]" size="10" type="password" value="" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-1 control-label">新密码：</label>
								<div class="col-sm-2">
									<input class="form-control" name="data[npw]" size="10" type="password"
										value="{:isset($output['npw'])?$output['npw']:''}" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-1 control-label">确认密码：</label>
								<div class="col-sm-2">
									<input class="form-control" name="data[confirm_password]" size="10" type="password"
										value="{:$output['confirm_password']??''}" />
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-2 col-sm-offset-1">
									<button class="btn btn-primary" onclick="return submit_form()">保存</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

</df-body>


<df-footer>
	<script>
		function submit_form() {
			if ($.formVerifyEmpty('data[pw]', '请输入原密码')) {
				return false;
			}
			if ($.formVerifyEmpty('data[npw]', '请输入新密码')) {
				return false;
			}
			if ($.formVerifyEmpty('data[confirm_password]', '请确认密码')) {
				return false;
			}
			if ($("[name='data[npw]']").val() != $("[name='data[confirm_password]']").val()) {
				$("[name='data[confirm_password]']").next().html('两次密码输入不一致')
				return false;
			}
			return true;
		}
	</script>


</df-footer>
