<df-header>

	<style>
		.Data {
			color: rgb(243, 243, 244);
		}
		
		div {
			/*让div的内容无法选中*/
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
	</style>
</df-header>

<df-body>

	<div class="row">
		<div class="col-sm-12">
			<div class="row">
				<div class="col-sm-5" onclick="showData()" style="cursor: pointer;">
					<div class="widget style1 navy-bg">
						<div class="row">
							<div class="col-xs-4">
								<i class="fa fa-server fa-5x"></i>
							</div>
							<div class="col-xs-8 text-right">
								<span> 操作系统 </span>
								<h2 class="font-bold">!!PHP_OS!!</h2>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-5" onclick="" style="cursor: pointer;">
					<div class="widget style1 lazur-bg">
						<div class="row">
							<div class="col-xs-4">
								<i class="fa fa-code fa-5x"></i>
							</div>
							<div class="col-xs-8 text-right">
								<span> php版本 </span>
								<h2 class="font-bold">!!PHP_VERSION!!</h2>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-5" onclick="" style="cursor: pointer;">
					<div class="widget style1 lazur-bg">
						<div class="row">
							<div class="col-xs-4">
								<i class="fa fa-cloud fa-5x"></i>
							</div>
							<div class="col-xs-8 text-right">
								<span> 服务器ip </span>
								<h2 class="font-bold">!!GetHostByName($_SERVER['SERVER_NAME'])!!
                             </h2>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-5" onclick="" style="cursor: pointer;">
					<div class="widget style1 lazur-bg">
						<div class="row">
							<div class="col-xs-4">
								<i class="fa fa-chrome fa-5x"></i>
							</div>
							<div class="col-xs-8 text-right">
								<span> 你的电脑ip </span>
								<h2 class="font-bold">!!IP!!</h2>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>
	<div class="Data">
		服务器操作系统： !!PHP_OS."(".php_uname().")"!! <br> 服务器程序： !!$_SERVER ['SERVER_SOFTWARE']!! <br> 最大上传限制： !!get_cfg_var ("upload_max_filesize")?get_cfg_var ("upload_max_filesize"):"不允许上传附件"!!<br> 最大执行时间： !!get_cfg_var("max_execution_time")."秒 "!! <br> 脚本运行占用最大内存：!!get_cfg_var ("memory_limit")?get_cfg_var("memory_limit"):"无"!!<br> PHP版本：!! PHP_VERSION!! <br> PHP路径：!! DEFAULT_INCLUDE_PATH!! <br> 网站根目录：!! getenv('DOCUMENT_ROOT')!! <br> 服务器外网IP：!! GetHostByName($_SERVER['SERVER_NAME'])!! <br> 服务器内网IP：!!$_SERVER['SERVER_ADDR']!! <br> 客户端IP：!! $_SERVER['REMOTE_ADDR'] !! <br> 服务器域名：!! $_SERVER["HTTP_HOST"]!! <br> 服务器Web端口：!! $_SERVER['SERVER_PORT']!! <br> 浏览器信息：!! $_SERVER['HTTP_USER_AGENT']!! <br> MySQL最大连接数：!! get_cfg_var("mysql.max_links")==-1 ? "不限" : get_cfg_var("mysql.max_links")!! <br> 服务器语言：!! $_SERVER['HTTP_ACCEPT_LANGUAGE']!! <br> 进程用户名：!! Get_Current_User()!! <br> 当前文件路径：!! __FILE__!! <br> 页面参数：!! htmlspecialchars($_SERVER['QUERY_STRING'])!! <br> 完整url：!!htmlspecialchars(URL)!! <br>
	</div>
</df-body>

<df-footer>

	<script>
		var x = true;

		function showData() {
			x = !x;
			if(x)
				$('.Data').css('color', 'rgb(243, 243, 244)');
			else
				$('.Data').css('color', 'rgb(0, 0, 0)');
		}
	</script>

</df-footer>