<df-body>

	<div class="row">
		<div class="col-sm-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5></h5>
				</div>
				<div class="ibox-content">
					<form method="post" action='!!SplitUrl(sprintf("admin/home/%supdate ",self::$db_d))!!'>
						<input name="id" value="!!isset($output[0])?$output[0]:'0'!!" hidden/>

						<input name="data[createtime]" value="!!isset($output['createtime'])?$output['createtime']:getTime()!!" hidden/>

						<div class="form-horizontal m-t">
							<div class="form-group">
								<label class="col-sm-1 control-label">账号：</label>
								<div class="col-sm-5">
									<input class="form-control" name="data[nm]" size="10" type="text" value="!!isset($output[0])?$output['nm']:''!!" />
									<span class="field-validation-error" veri-for="">!!$err!!</span>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-1 control-label">密码：</label>
								<div class="col-sm-5">
									<input class="form-control" name="data[pw]" size="10" type="password" value="!!isset($output[0])?$output['pw']:''!!" />
									<span class="field-validation-error" veri-for=""></span>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-1 control-label">权限：</label>
								<div class="col-sm-5">
									<select class="site-select-tem" name="data[role]">

										<df-each $type>
											<option value="!`Id`" "!!$v['Id']==$output['role']? 'selected': ''!!">!`nm`</option>
										</df-each>
									</select>

									<span class="field-validation-error" veri-for=""></span>
								</div>
							</div>

						</div>

						<div class="form-group">
							<div class="col-sm-2 col-sm-offset-1">
								<button class="btn btn-primary" onclick="return submit_form()">保存</button>
								<a href='!!SplitUrl(sprintf(" admin/home/%s ",self::$db_d))!!' class="btn btn-sm btn-white"> 返 回 </a>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>

</df-body>
<df-footer>

	<!-- umeditor-->
	<link type="text/css" rel="stylesheet" href="/assets/umeditor/themes/default/css/umeditor.css">
	<script type="text/javascript" src='/assets/umeditor/umeditor.config.js?time=!!date(" Ymdhis ")!!'></script>
	<script type="text/javascript" src="/assets/umeditor/umeditor.js"></script>
	<script type="text/javascript" src="/assets/umeditor/lang/zh-cn/zh-cn.js"></script>

	<script type="text/javascript">
		//验证输入
		function verify() {
			if($("input[name='data[title]']").val() == "") {
				$("[name='data[nm]']").next().html('请输入标题')
				return false;
			}
			if($("#content").val() == "<p><br></p>") {
				$("[veri-for='Body']").html('请输入内容')
				return false;
			}
			return true;
		}

		function submit_form() {
			$("#content").val($("#Body").html());
			return verify();
		}
	</script>

</df-footer>