<df-body>



<div class="row">
	<div class="col-sm-12">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>>></h5>
			</div>
			<div class="ibox-content">
				<div class="row form-horizontal form-group">
					<div class="col-sm-1">
						<a href='!!splitUrl(str("admin/home/{0}_add",[self::$db_roles]))!!' class="btn btn-primary btn-sm"><i class="fa fa-plus"></i>&nbsp;添加</a>
					</div>

				</div>
				<table class="table table-striped table-bordered table-hover dataTables-example">
					<thead>
						<tr>
							<th width="50">编号</th>
							<th width="100">名称</th>
							<th width="150">内容</th>
							<th width="150">操作</th>
						</tr>
					</thead>
					<tbody>

						<df-each $output>


						<tr>
							<td>!!$num!!</td>
							<td>
								<a href='!!splitUrl(sprintf("admin/home/%s_view/%s",self::$db_roles,$v[0]))!!'>!`nm`</a>
							</td>
							<td>!`roles`</td>
							<td class='center'>
								<a href='!!splitUrl(sprintf("admin/home/%s_add/%s",self::$db_roles,$v[0]))!!'>[编辑]</a>
								<a href='!!splitUrl(sprintf("admin/home/%s_del/%s",self::$db_roles,$v[0]))!!' onclick='return confirm("您确认要删除吗？")'>[删除]</a>
							</td>
						</tr>
						</df-each>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

</df-body>

<df-footer>


<!-- Data Tables -->
<link href="!!THEME_ADMIN_ASSETS!!/dataTables/dataTables.bootstrap.css" rel="stylesheet">
<script src="!!THEME_ADMIN_ASSETS!!/dataTables/jquery.dataTables.js"></script>
<script src="!!THEME_ADMIN_ASSETS!!/dataTables/dataTables.bootstrap.js"></script>

<script>
	$(document).ready(function() {
		$('.dataTables-example').dataTable({
			"aLengthMenu": [10, 50, 100], //更改显示记录数选项
			"iDisplayLength": 10 //默认显示的记录数
		});
	});
</script>
</df-footer>
