<df-body>


	<div class="row">
		<div class="col-sm-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5></h5>
				</div>
				<div class="ibox-content">
					<form method="post" action='!!splitUrl("admin/login/set_change_pic")!!'
						enctype="multipart/form-data">
						<input name="data[pic]" id="pic" value="!!isset($output[0])?$output['pic']:'0'!!" hidden />
						<div class="form-horizontal m-t">
							<div class="form-group">
								<label class="col-sm-1 control-label">头像</label>
								<div class="col-sm-4">
									<div class="upload">
										<div class="uploadPreview1">
											!!isset($output[0])?"<img src='{$output["pic"]}' />":'暂无图片'!!
										</div>
										<div class="left">
											<div class="uploadProgressBar"></div>
											<div class="uploadBut1">选择图片</div>
											<!--<input type="file" name="file" id="file" />-->
										</div>
										<div class="clear"></div>
									</div>
								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-2 col-sm-offset-1">
									<button class="btn btn-primary" type="submit">保存</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

</df-body>

<df-footer>

	<link rel="stylesheet" href="!!THEME_ADMIN_ASSETS!!/webuploader/webuploader.css" type="text/css" />
	<script src="!!THEME_ADMIN_ASSETS!!/webuploader/webuploader.min.js"></script>
	<script type="text/javascript">
		//上传图片
		$(function() {
			uploadImg('.uploadBut1', ".uploadPreview1", "#pic",'!!splitUrl("admin/login/up_change_pic")!!');
		})
	</script>

</df-footer>
