<df-code>
    use Dfer\Tools\Statics\{Common};
</df-code>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />

        <!-- ********************** layui START ********************** -->
        <link href="https://oss.dfer.site/layui/v2.9.8/css/layui.css" rel="stylesheet">
        <script src="https://oss.dfer.site/layui/v2.9.8/layui.js"></script>
        <!-- **********************  layui END  ********************** -->

        <!-- ********************** bootstrap START ********************** -->
        <link href="https://oss.dfer.site/bootstrap/v5.3.3/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://oss.dfer.site/bootstrap/v5.3.3/js/bootstrap.min.js"></script>
        <!-- **********************  bootstrap END  ********************** -->

        <!-- ********************** fontawesome START ********************** -->
        <link href="https://oss.dfer.site/fontawesome/v5.15.4/css/all.css" rel="stylesheet" type="text/css">
        <!-- **********************  fontawesome END  ********************** -->

        <!-- ********************** jq START ********************** -->
        <script src="https://oss.dfer.site/jquery/3.7.1/jquery.min.js"></script>
        <!-- **********************  jq END  ********************** -->

        <link href="{:VIEW_ASSETS}/admin/css/style.css?v=4.1.0" rel="stylesheet">
        <script src="{:VIEW_ASSETS}/js.ext.js"></script>
        <script src="{:VIEW_ASSETS}/jquery.ext.js"></script>
        <script src="{:VIEW_ASSETS}/DfTools.js"></script>
        <script src="{:VIEW_ASSETS}/admin/js/content.js?v=1.0.0"></script>
        <df-header />
    </head>

    <body class="gray-bg">
        <div class="wrapper wrapper-content">
            <df-body />
        </div>
    </body>

    <df-footer />

    <script>
        var df_tools = new DfTools();

        const UPLOAD_API = {
            UEDITOR: '/admin/upload/ueditor_upload',
            WEB_UPLOADER: '/admin/upload/web_upload'
        };
        //上传
        function upload(trigger_obj, preview_obj, input_obj, upload_api = UPLOAD_API.UEDITOR) {

            var uploader = WebUploader.create({
                auto: true,
                pick: trigger_obj,
                server: upload_api,
                method: 'POST'
            });

            var input_obj = input_obj ?? '#input_obj';
            uploader.on('uploadBeforeSend', function() {
                console.log('uploadBeforeSend')
                $(preview_obj).after(`
				<div class="layui-progress layui-progress-big" lay-showpercent="true" lay-filter="${input_obj.replace('#', '')}">
					<div class="layui-progress-bar layui-bg-red" lay-percent="0%"></div>
				</div>
				`);
            });

            uploader.on('uploadProgress', function(file, percentage) {
                per = Math.round(percentage * 100)
                layui.use('element', function() {
                    var element = layui.element;
                    console.log(input_obj.replace('#', ''), `${per}%`);
                    element.progress(input_obj.replace('#', ''), `${per}%`)
                })
            });

            uploader.on('uploadSuccess', function(file, response) {
                if (response.status == false)
                    $(preview_obj).html(response.msg);
                else {
                    //获取原始数据
                    var type = response.data.type;
                    var url = response.data.url;
                    if (type == 'img')
                        $(preview_obj).html(`<img src="${url}" />`);
                    else
                        $(preview_obj).append(`<div>${url}</div>`);
                    $(input_obj).val(url);
                }
            });

            uploader.on('uploadError', function(file) {
                $(preview_obj).html("上传失败");
            });

        }
    </script>

</html>
