<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="shortcut icon" href="{:VIEW_ASSETS}/img/favicon.ico" />
        <!--safari icon-->
        <link rel="apple-touch-icon" href="{:VIEW_ASSETS}/img/favicon.png" />
        <!--页面尺寸-->
        <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <!--手机状态栏的颜色-->
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <!--作为独立的网页，进行全屏显示-->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <script src="{:VIEW_ASSETS}/jquery.min.js"></script>
        <script src="{:VIEW_ASSETS}/js.ext.js"></script>
        <script src="{:VIEW_ASSETS}/DfTools.js"></script>
        <script>
            var df_tools_common = new DfTools();
        </script>

        <df-header />
    </head>

    <body>
        <df-body />
    </body>

    <df-footer />
</html>
