<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="shortcut icon" href="{:VIEW_ASSETS}/img/favicon.ico" />
        <!--safari icon-->
        <link rel="apple-touch-icon" href="{:VIEW_ASSETS}/img/favicon.png" />
        <!--页面尺寸-->
        <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <!--手机状态栏的颜色-->
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <!--作为独立的网页，进行全屏显示-->
        <meta name="apple-mobile-web-app-capable" content="yes">

        <!-- ********************** jq START ********************** -->
        <script src="https://oss.dfer.site/jquery/3.7.1/jquery.min.js"></script>
        <!-- **********************  jq END  ********************** -->

        <!-- ********************** dfer-tools-js START ********************** -->
        <script src="/node_modules/@df_business/tools-js/extends/js.ext.js"></script>
        <script src="/node_modules/@df_business/tools-js/extends/jquery.ext.js"></script>
        <script src="/node_modules/@df_business/tools-js/class/Common.js"></script>
        <script>
            var df_tools_common = new Common();
        </script>
        <!-- **********************  dfer-tools-js END  ********************** -->

        <df-header />
    </head>

    <body>
        <df-body />
    </body>

    <df-footer />
</html>
